@import './base.scss';
@import './navbar.scss';
@import './bio.scss';
@import './projects.scss';
@import './skills.scss';
@import './blog.scss';
@import './footer.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(20, 204, 189);
  transition: 0.4s;
  padding : .5rem .8rem;
  font-weight: bold;
  border-radius: 2px;
}

a:hover {
  color: rgb(39, 170, 159);
}


@media (max-width:450px){
  // #app {
  //   padding: .5rem .8rem;
  // }
}