@import './base.scss';
@import './navbar.scss';
@import './bio.scss';
@import './projects.scss';
@import './skills.scss';
@import './blog.scss';
@import './footer.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(20, 204, 189);
  transition: 0.4s;
  padding: 0.5rem 0.8rem;
  font-weight: bold;
  border-radius: 2px;
}

a:hover {
  color: rgb(39, 170, 159);
}

.night-mode-wrapper {
  h1,
  h2,
  p {
    color: #fff;
  }

  .brand {
    img {
      border: 2px solid hsla(329, 89%, 80%, 0.9);
      border-radius: 50%;
    }
  }

  a,
  div {
    color: #fff;
  }
  .credit {
    a:hover {
      color: hsl(188deg, 55%, 68%);
    }
  }
  .skills {
    background-color: hsla(329, 89%, 80%, 0.7);
  }
  .poll {
    button {
      background-color: rgb(222, 221, 232);
      color: #262e36;
    }
  }
}

.day-mode {
  background-color: transparent;
  transition: 0.4s ease all;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.night-mode {
  width: 100vw;
  background-color: #333;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  transition: 0.4s ease all;
}

@media (max-width: 450px) {
  // #app {
  //   padding: .5rem .8rem;
  // }
}
