.skills {
    height: 2.8rem;
    background: hsla(329, 89%, 80%, .6);
    border-radius: 2px;
  }
  .skill-icon {
    transform: scale(1.8);
  }

  @media (max-width:501px){
    .skill-icon {
      transform: scale(1.2);
    }
  }

  @media (max-width:325px){
    .skills {
    background: transparent;
    }
  }